.auth
    .auth__logo
        .white
    h2.auth__title Авторизация
    p Введите пожалуйста своё фио и ник для дальнейшей авторизации
    .auth__form
        input(type="text" name="fio" placeholder="Введите свои ФИО...").auth__input
        input(type="text" name="nickname" placeholder="Введите свой ник...").auth__input
        button(type="submit").login-button Войти
    .close +