<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Ча-Ча-Чат
    body
        .wrapper
            main.chat
                aside.chat__left
                    .menu-and-search
                        .hamburger
                            .hamburger__line
                            .hamburger__line
                            .hamburger__line
                        .search
                            input(type="text" placeholder="Найти...").search__input
                    .users
                        ul.users__list
                .chat__right
                    .users-counter
                        .users-counter__title Чат
                        .users-counter__value
                            p 2 участника
                    .messages-window
                    form.message-form
                        input(type="text" name="message" placeholder="Введите сообщение...").message-form__input
                        button(type="submit").send-button Отправить
            .overlay
                include ./blocks/auth
